<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
  </head>

  <body>
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Login</button>
    </form>
  </body>
</html>
